<template name="chatbot">
  <div id="room-chat" class="col s5">
			<!-- <div class="room-image" style="background-image:url({{roomImage}});"></div> -->
      <div class="card cardblocks">
        <div id="chatbot" class="card-content">
          <span class="card-title activator grey-text text-darken-4">Eva Time<i class="material-icons right center">more_vert</i></span>
        </div>
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{imageName}}">
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Chat with Me!<i class="material-icons right">close</i></span>
            <div class="card darken-1">
              <div class="card-content white-text">
                <span class="">
                <ul>
                </ul>
              </div>
              <div class="card-action">
                <!-- <img src="/topic-50.png" class="message-icon"> -->
                <input class="chattext" type="text" placeholder="Write your message...">
                <a class="btn-floating waves-effect small waves-light blue sendmessage"><i class="material-icons right">send</i></a>
              </div>
            </div>
          </div>
        </div>
</div>

</template>
