<head>
        <!-- jQuery -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <!-- BEGIN TimelineJS -->
        <script type="text/javascript" src="http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js"></script>
        <script>
            $(document).ready(function() {
               var dataObject = {
    "timeline":
    {
        "headline":"Karthik Rajgopal<h4><strong>Co-Founder and Chief Technology Officer, Black</strong></h4><h4>karthik@black.ai</h4>",
        "type":"default",
        "text":"<p><h4>I have my own company and I head the technology division. But, at the core, I'm a Developer.</h4></p>",
        "asset": {
            "media":"images/karthik_rajgopal.jpg",
            "credit":"Karthik Rajgopal",
        },
        "date": [
          {
              "startDate":"1988,04,26",
              "endDate":"2009,06,17",
              "headline":"A Legend is Born.",
              "text":"<p>Well, lets just agree on it.</p>",
              "tag":"Mode Saiyan",
              "classname":"Born",
              "asset": {
                  "media":"images/karthik_rajgopal.jpg",
                  "credit":"Bachelors Degree",
                  "caption":"Caption text goes here"
              }
          },
          {
              "startDate":"1988,04,26",
              "endDate":"2009,06,17",
              "headline":"A Legend is Born.",
              "text":"<p>Well, lets just agree on it.</p>",
              "tag":"Mode Saiyan",
              "classname":"Born",
              "asset": {
                  "media":"images/karthik_rajgopal.jpg",
                  "credit":"Bachelors Degree",
                  "caption":"Caption text goes here"
              }
          },
            {
                "startDate":"2009,06,17",
                "endDate":"2009,06,17",
                "headline":"I attain graduatehood.",
                "text":"<p>Today, I passed out of Bachelors of Information Technology with a distinction.</p>",
                "tag":"Acceleration mode Activated",
                "classname":"undergraduate",
                "asset": {
                    "media":"images/karthik_rajgopal.jpg",
                    "credit":"Bachelors Degree",
                    "caption":"Caption text goes here"
                }
            }
        ],
        "era": [
            {
                "startDate":"1980",
                "endDate":"2016",
                "headline":"The Life of Karthik",
                "text":"<p>Lets go down memory Lane</p>",
                "tag":"I like tagging"
            }

        ]
    }
}
                createStoryJS({
                    type:       'timeline',
                    width:      '100%',
                    height:     '600',
                    source:     dataObject,
                    embed_id:   'my-timeline'
                });
            });


        </script>
        <!-- END TimelineJS -->
</head>
<body>
 <div id ="my-timeline"></div>
</body>
<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Welcome to Project Title</h1>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </div>
  {{> facetracking}}
  {{> chatbot}}
</template>
